@if (visible) {
  <div class="modal-backdrop">
    <div class="modal">
      <div class="modal-header">
        <h3>
          {{ user ? 'Sửa người dùng' : 'Thêm người dùng' }}
        </h3>

        <button class="icon-button" (click)="close.emit()">✕</button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label>First name</label>
          <input class="form-input" formControlName="first_name" />
          <!-- Thêm dòng này -->
          @if (form.controls.first_name.touched && form.controls.first_name.errors?.['required']) {
            <small style="color: red; font-size: 12px; margin-top: 4px; display: block"
              >Vui lòng nhập First name</small
            >
          }
        </div>

        <div class="form-group">
          <label>Last name</label>
          <input class="form-input" formControlName="last_name" />
          <!-- Thêm dòng này -->
          @if (form.controls.last_name.touched && form.controls.last_name.errors?.['required']) {
            <small style="color: red; font-size: 12px; margin-top: 4px; display: block"
              >Vui lòng nhập Last name</small
            >
          }
        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-input" formControlName="email" />
          <!-- Thêm dòng này -->
          @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
            <small style="color: red; font-size: 12px; margin-top: 4px; display: block"
              >Vui lòng nhập Email</small
            >
          }
          @if (form.controls.email.touched && form.controls.email.errors?.['email']) {
            <small style="color: red; font-size: 12px; margin-top: 4px; display: block"
              >Email không đúng định dạng</small
            >
          }
        </div>

        <div class="form-group">
          <label>Avatar URL</label>
          <input class="form-input" formControlName="avatar" />
        </div>

        <div class="modal-footer">
          <button type="button" class="secondary-button" (click)="close.emit()">Hủy</button>
          <button type="submit" class="primary-button">Lưu</button>
        </div>
      </form>
    </div>
  </div>
}
