.modal-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  width: 450px;
  max-width: 80vw;

  background: white;
  border-radius: 16px;

  padding: 18px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;

  gap: 12px;

  margin-top: 6px;
}

.primary-button,
.secondary-button {
  width: auto;
  padding: 10px 22px;
  font-size: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form-input {
    padding: 8px 12px;
  }
}

form {
  gap: 6px;
  padding: 6px 12px;
}
