@if (visible) {
  <div class="modal-backdrop">
    <div class="modal">
      <div class="modal-header">
        <h3>
          {{ user ? 'Sửa người dùng' : 'Thêm người dùng' }}
        </h3>

        <button nz-button nzType="text" type="button" class="icon-button" (click)="close.emit()">
          ✕
        </button>
      </div>

      <form nz-form [formGroup]="form" (ngSubmit)="submit()" nzLayout="vertical">
        <!-- First name -->
        <nz-form-item>
          <nz-form-label nzRequired>First name</nz-form-label>

          <nz-form-control [nzErrorTip]="firstNameError">
            <input nz-input class="form-input" formControlName="first_name" placeholder="Nhập First name" />

            <ng-template #firstNameError>
              @if (form.controls.first_name.errors?.['required']) {
                <span>Vui lòng nhập First name</span>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Last name -->
        <nz-form-item>
          <nz-form-label nzRequired>Last name</nz-form-label>

          <nz-form-control [nzErrorTip]="lastNameError">
            <input nz-input class="form-input" formControlName="last_name" placeholder="Nhập Last name" />

            <ng-template #lastNameError>
              @if (form.controls.last_name.errors?.['required']) {
                <span>Vui lòng nhập Last name</span>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Email -->
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>

          <nz-form-control [nzErrorTip]="emailError">
            <input nz-input class="form-input" type="email" formControlName="email" placeholder="example@email.com" />

            <ng-template #emailError>
              @if (form.controls.email.errors?.['required']) {
                <span>Vui lòng nhập Email</span>
              }

              @if (form.controls.email.errors?.['email']) {
                <span>Email không đúng định dạng</span>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Avatar -->
        <nz-form-item>
          <nz-form-label>Avatar URL</nz-form-label>

          <nz-form-control>
            <input nz-input class="form-input" formControlName="avatar" placeholder="Nhập URL avatar" />
          </nz-form-control>
        </nz-form-item>

        <!-- Footer -->
        <div class="modal-footer">
          <button nz-button class="secondary-button" nzType="default" type="button" (click)="close.emit()">Hủy</button>

          <button nz-button class="primary-button" nzType="primary" type="submit">Lưu</button>
        </div>
      </form>
    </div>
  </div>
}
