.topbar {
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;

  border-bottom: 1px solid #e8edf5;
}

.tabs {
  display: flex;

  height: 100%;
}

.tab {
  min-width: 220px;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 0 18px;

  border-right: 1px solid #edf0f6;

  cursor: pointer;

  transition: 0.2s;
}

.tab.active {
  background: #fff;

  border-top: 3px solid #d72d38;
}

.close-btn {
  margin-left: auto;

  border: none;
  background: transparent;

  cursor: pointer;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 24px;
}

.notification {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border: none;
  border-radius: 50%;

  background: transparent;

  cursor: pointer;

  transition: .2s;
}

.notification:hover {
  background: #f5f6fa;
}

.notification svg {
  width: 22px;
  height: 22px;
}

.notification::after {
  content: "";

  position: absolute;

  top: 8px;
  right: 8px;

  width: 8px;
  height: 8px;

  border-radius: 50%;

  background: #ef4444;
}

.user {
  display: flex;
  align-items: center;

  gap: 12px;

  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #5b6ef5;

  color: #fff;

  font-size: 16px;
  font-weight: 700;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 15px;
  font-weight: 600;

  color: #1d2b53;
}

.role {
  font-size: 13px;

  color: #8a94a6;
}