<main class="auth-page">
  <section class="left-panel">
    <img class="banner" src="/images/left_image.png" alt="VSS Chat Platform" />

    <div class="banner-text">
      <h1 class="banner-title">Hệ thống quản lý chat đa nền tảng</h1>
      <p class="banner-description">Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</p>
    </div>

    <div class="banner-dots">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  </section>

  <aside class="right-panel">
    <div class="language">🌐 Tiếng Việt ▼</div>

    <section class="auth-card">
      <div class="forgot-header">
        <a routerLink="/forgot-password"><span>< Quay lại</span></a>
        <div class="forgot-header-text">Quên mật khẩu</div>
      </div>
      <img class="logo" src="/images/create_new_password.png" alt="VSS Chat Platform" />
      <div class="forgot-form">
        <h4 class="forgot-title">Tạo mật khẩu mới</h4>
        <p class="notice-line">Mật khẩu mới của bạn phải khác so với mật khẩu cũ đã dùng</p>

        <form (ngSubmit)="onContinue()">
          <div class="form-group">
            <div class="input-wrapper">
              <label for="password" class="input-label">Mật khẩu mới</label>
              <input id="password" class="form-input" type="password" />
              <button type="button" class="toggle-password" aria-label="Hiện/ẩn mật khẩu">
                <span>👁</span>
              </button>
            </div>

            <div class="input-wrapper" style="margin-top: 16px">
              <label for="confirm_password" class="input-label">Nhập lại mật khẩu mới</label>
              <input id="confirm_password" class="form-input" type="password" />
              <button type="button" class="toggle-password" aria-label="Hiện/ẩn mật khẩu">
                <span>👁</span>
              </button>
            </div>
          </div>

          <button class="forgot-button" type="submit">Tiếp tục</button>
        </form>
      </div>
    </section>
  </aside>
</main>
