/* =========================
   Colors
========================= */

$primary-color: #d72d38;

$secondary-color: #5b6ef5;

$text-primary: #222;

$text-secondary: #666;

$text-light: #777;

$border-color: #ddd;

$white: #fff;

/* =========================
   Shadow
========================= */

$card-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

/* =========================
   Radius
========================= */

$radius-sm: 8px;

$radius-lg: 16px;