/* =========================
   Authentication Layout
========================= */
@use "../base/variables" as *;

.auth-page {
  display: flex;

  width: 100%;
  min-height: 100vh;
}

.left-panel {
  flex: 1.9;

  position: relative;

  overflow: hidden;
}

.right-panel {
  flex: 1;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px 24px;

  background: $white;
}

@media (max-width: 992px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 1;
    padding: 24px;
  }
}