@use '../../../../styles/base/variables' as *;
@use '../../../../styles/base/utilities' as *;

.auth-card {
  width: 90%;
  max-width: 380px;
}

.forgot-header {
  background-color: #d72d38;
  padding: 12px 0 12px 0;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;

  a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 5px;
    font-size: 14px;
  }

  .forgot-header-text {
    width: 60%;
    font-size: 16px;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    /* right: 50%; */
  }
}

.logo {
  width: 160px;

  margin-bottom: 24px;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  padding: 0 32px 32px 32px;

  .form-input {
    width: 100%;

    padding: 10px 15px;

    border: 1px solid $border-color;
    border-radius: 8px;

    outline: none;

    transition: border-color $transition-fast;
  }
}

.forgot-title {
  margin-bottom: 6px;

  text-align: left;

  color: $primary-color;

  font-size: 16px;
}

.notice-line {
  margin-bottom: 18px;

  text-align: left;

  color: $text-secondary;

  font-size: 12px;

  line-height: 1.5;
}
