.sidebar {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;

  border-right: 1px solid #edf0f6;
}

.sidebar-logo {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 42px;

}

.sidebar-menu {
  padding: 18px 12px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 18px;

  height: 30px;

  padding: 0 6px;

  border-radius: 12px;

  text-decoration: none;

  color: #7f8ba3;

  font-size: 12px;
  font-weight: 500;

  transition: .2s;
}

.sidebar-icon {
  width: 18px;
  height: 18px;

  color: #aeb7d1;

  transition: .2s;
}

.sidebar-item:hover {
  background: #f7f8fc;
  color: #d72d38;
}

.sidebar-item:hover .sidebar-icon {
  color: #d72d38;
}

.sidebar-item.active {
  background: rgba(215, 45, 56, .08);

  color: #d72d38;

  font-weight: 600;
}

.sidebar-item.active .sidebar-icon {
  color: #d72d38;
}