@use "../base/variables" as *;

/* =========================
   Button
========================= */

.primary-button {
  width: 100%;

  padding: 10px;

  border: none;
  border-radius: $radius-sm;

  background: $primary-color;
  color: $white;

  font-weight: 600;

  cursor: pointer;

  transition: $transition-fast;
}

.primary-button:hover:not(:disabled) {
  background: $primary-hover;
}

.primary-button:disabled {
  background: #d9d9d9;

  color: #999;

  cursor: not-allowed;
}