.logo {
  display: block;

  width: 180px;

  margin: 10px auto 24px;
}

.forgot-header {
  background-color: #d72d38;
  padding: 16px 0 16px 0;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
}

.forgot-header a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  padding-left: 5px;
}

.forgot-header-text {
  width: 60%;
  font-size: 20px;
  font-family: sans-serif;
  color: aliceblue;
  text-align: center;
  /* right: 50%; */
}

.forgot-title {
  color: #d72d38;
  font-size: 16px;
  font-weight: 700;
}

.forgot-form {
  margin: 32px;
}
.notice-line {
  font-size: 12px;
  margin: 8px 0 20px 0;
  color: #777;
  font-family: sans-serif;
}

#username {
  margin-top: 8px;
  margin-bottom: 20px;
}

.forgot-button {
  width: 100%;

  padding: 10px;

  border: none;

  border-radius: 8px;

  background: #b9b6b6;

  color: #fff;

  cursor: pointer;

  transition: 0.2s;
}

.forgot-button:hover {
  background-color: #d72d38;
}

.get-otp {
  display: flex;
  margin-bottom: 35px;
}

.otp-input {
  width: 75%;

  padding: 14px;

  border: 1px solid #ddd;

  border-radius: 8px 0 0 8px;

  outline: none;

  transition: 0.2s;
}

.otp-input:focus {
  border-color: #d72d38;
}

#get_otp_btn {
  color: rgb(12, 119, 233);
  width: 25%;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  border: 0.5px solid rgb(12, 119, 233);
}
