.input-wrapper {
  position: relative;
}

.input-label {
  position: absolute;

  top: 6px;
  left: 8px;

  padding: 0 6px;

  background: #fff;

  color: #6a6fe8;

  font-size: 9px;

  z-index: 2;
}


.form-input:focus {
  border-color: #5b6ef5;
}

.toggle-password {
  position: absolute;

  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  border: none;
  background: transparent;

  cursor: pointer;
}