.logo {
  display: block;

  width: 140px;

  margin: 10px auto 24px;
}

.forgot-header {
  background-color: #d72d38;
  padding: 12px 0 12px 0;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;

  a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 5px;
    font-size: 14px;
  }
  .forgot-header-text {
    width: 65%;
    font-size: 16px;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
  }
}

.forgot-title {
  color: #d72d38;
  font-size: 18px;
  font-weight: 700;
}

.forgot-form {
  margin: 32px;
}
.notice-line {
  font-size: 12px;
  margin: 4px 0 20px 0;
  color: #777;
  font-family: sans-serif;
}

#username {
  margin-top: 8px;
  margin-bottom: 20px;
}

.forgot-button {
  width: 100%;

  padding: 10px;

  border: none;

  border-radius: 8px;

  background: #b9b6b6;

  color: #fff;

  cursor: pointer;

  transition: 0.2s;
}

.forgot-button:hover {
  background-color: #d72d38;
}

.get-otp {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  nz-form-item {
    flex: 1;
    min-width: 0;
    margin: 0;
  }

  nz-form-control {
    width: 100%;
  }

  input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;

    outline: none;
    box-shadow: none;
  }

  #get_otp_btn {
    flex: 0 0 100px;
    height: 40px;

    padding: 0 12px;

    color: rgb(12, 119, 233);
    background: #fff;

    border: 1px solid rgb(12, 119, 233);

    border-radius: 0 8px 8px 0;

    white-space: nowrap;
  }
}
